#show, label {
    font-weight: 300;
    color: white;
    font-weight: 300;
  td {
    font-size: 16px;
    // line-height: 1.667rem;
    color: white;
  }
  h1 {
    color: white;
    font-size: 20px;
    // line-height: 1rem;
  }
  h3, th {
    color: #958047;
    font-size: 16px;
    // line-height: 1.667rem;
  }
}
